* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b1919;
  background-image: url("/images/back-img.png");

  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  scroll-behavior: smooth;
}

header {
  width: 100%;
  padding: 0 30px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10%;
  -webkit-box-shadow: 1px 28px 12px 0px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 1px 28px 12px 0px rgba(0, 0, 0, 0.37);
  box-shadow: 1px 28px 12px 0px rgba(0, 0, 0, 0.37);
}

.kanit-semibold {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.gowun-batang-regular {
  font-family: "Gowun Batang", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  width: 90%;
  margin: 0 auto;
  /* content: ''; */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */

  width: 90%;
  margin: 0 auto;
}

.Logo {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: flex-start;

  width: 100%;
  color: white;

  h3 {
    font-size: 2em;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}

.logo-and-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.anchors {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  list-style: none;
  gap: 30px;
}

.anchors li a {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;

  text-decoration: none;
  color: white;
  font-size: 1.5em;
}

.anchors li {
  width: max-content;
}

.video_container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20%;
}

.introduction {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin-top: 3%;
  margin-bottom: 3%;

  height: 100vh;

  color: #a5d8ff;
  p {
    font-family: "Gowun Batang", serif;
    font-size: 2em;
    margin-top: 5%;
  }
  h1 {
    font-family: "Kanit", sans-serif;
    font-size: 5em;
  }
}

.intro-text {
  text-align: center;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
}
.product-card {
  background-color: #3a616383;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}
.product-card img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1;
  object-fit: contain;
  pointer-events: none;
}

.why-me {
  margin-bottom: 150px;

  h1 {
    text-align: center;
    color: #a5d8ff;
    font-family: "Kanit", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
  }

  .our-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
  }

  .advantage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #a5d8ff;

    h2 {
      font-family: "Ubuntu", sans-serif;
      font-size: 1.5em;
      margin-bottom: 5px;
    }
    p {
      font-family: "Roboto Mono", monospace;
      font-size: 1em;
      font-weight: 400;
      color: #a5d8ffbd;
    }
  }

  .icon-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3a616383;
  }

  .icon-circle img {
    width: 60%;
  }
}

.slider-section {
  margin-bottom: 150px;
  h1 {
    text-align: center;
    color: #a5d8ff;
    font-family: "Kanit", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
  }
}

.our-shop {
  h1 {
    text-align: center;
    color: #a5d8ff;
    font-family: "Kanit", sans-serif;
    font-size: 3em;
    margin-bottom: 20px;
  }
}

.product-card .tags {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.tags span {
  background-color: #00a000;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
  color: #ffffffd0;
}
.product-card .price {
  font-size: 20px;
  font-weight: bold;
  color: #9a9a9a;
  margin: 5px 0;
}

.slide img {
  width: 50% !important;
  aspect-ratio: 1;
  object-fit: contain;
  pointer-events: none;
}

.slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.sliderSlick {
  margin: 50px 50px;
}

.product-card .magnet-icon {
  display: inline-block;
  -webkit-box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  color: white;
  padding: 5px;
  border-radius: 50%;
  font-size: 12px;
  margin-top: 10px;
  width: 30px;
}

/* .text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30%;
} */

ul {
  width: 100%;
  display: flex;
  gap: 3%;
  color: white;
  list-style: none;
}

/* Modal Styles */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #3a6163;
  width: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;

  h3 {
    color: #ffffffd0;
  }

  .modal-price {
    color: #9a9a9a;
  }

  border-radius: 5px;
  max-width: 800px;
  position: relative;

  button {
    padding: 5px 20px;
    border: solid 2px;
    border-radius: 8%;
    background-color: #3a6163;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

#modal-product-details img {
  max-width: 50%;
}

#buy-button {
  margin-top: 20px;
}

@media only screen and (max-width: 950px) {
  .main-content {
    flex-direction: column;
    gap: 40px;
  }
}

@media only screen and (max-width: 888px) {
  .header-container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
  }

  .Logo {
    align-items: center;
    justify-content: center;
  }
  .anchors {
    align-items: center;
    justify-content: center;
  }

  .our-advantages {
    gap: 50px !important;
    flex-direction: column;
  }
  .slide img {
    width: 60% !important;
  }

  .slider-section {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  .main-content img {
    width: 75% !important;
  }
  .slide img {
    width: 90% !important;
  }
}

@media only screen and (max-width: 550px) {
  .header-container {
    gap: 30px;
  }

  .introduction{
    height: 80vh;
  }

  .anchors {
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .logo-and-text {
    flex-direction: column;
  }

  .why-me {
    h1 {
      font-size: 2em;
    }
  }
  .intro-text {
    h1 {
      font-size: 2em;
    }
  }

  .slider-section {
    h1 {
      font-size: 1.3em;
    }
  }
}
